@{
    ViewBag.Title = "Home";
}

@Scripts.Render("~/bundles/flot")


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Order
            </div>
            <div class="panel-body">
                <p>
                    This is a place holder for orders graphs and statistics
                </p>    
            </div>
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Booking
            </div>
            <div class="panel-body">
                <p>
                    This is a place holder for booking graphs and statistics
                </p>
            </div>

        </div>
    </div>
</div>