

@*<div class="panel panel-default">
    <div class="panel-heading">
        Order actions
    </div>
    
    <div class="panel-body">
        <form role="form" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" id="discount" name="discount" placeholder="Discount" />
                <span class="input-group-btn">
                    <button class="btn  btn-primary" type="button">
                        <span class="glyphicon glyphicon-gbp"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>*@